[submodule "git-submodules/test-corpus-medieval-manuscripts-oxford"]
	path = git-submodules/medieval-manuscripts-oxford
	url = git@github.com:delb-xml/test-corpus-medieval-manuscripts-oxford.git
[submodule "git-submodules/test-corpus-faust-edition"]
	path = git-submodules/faust-edition
	url = git@github.com:delb-xml/test-corpus-faust-edition.git
[submodule "git-submodules/test-corpus-ELTeC-fra"]
	path = git-submodules/ELTeC-fra
	url = git@github.com:delb-xml/test-corpus-ELTeC-fra.git
[submodule "git-submodules/test-corpus-verne"]
	path = git-submodules/verne
	url = git@github.com:delb-xml/test-corpus-verne.git
[submodule "test-corpus-casebooks"]
	path = git-submodules/casebooks
	url = git@github.com:delb-xml/test-corpus-casebooks.git
[submodule "git-submodules/test-corpus-disco"]
	path = git-submodules/disco
	url = git@github.com:delb-xml/test-corpus-disco.git
[submodule "git-submodules/test-corpus-ELTeC-gsw"]
	path = git-submodules/ELTeC-gsw
	url = git@github.com:delb-xml/test-corpus-ELTeC-gsw.git
[submodule "git-submodules/test-corpus-ELTeC-hrv"]
	path = git-submodules/ELTeC-hrv
	url = git@github.com:delb-xml/test-corpus-ELTeC-hrv.git
[submodule "test-corpus-ride"]
	path = git-submodules/ride
	url = git@github.com:delb-xml/test-corpus-ride.git
[submodule "git-submodules/test-corpus-ELTeC-ukr"]
	path = git-submodules/ELTeC-ukr
	url = git@github.com:delb-xml/test-corpus-ELTeC-ukr.git
[submodule "test-corpus-ELTeC-spa"]
	path = git-submodules/ELTeC-spa
	url = git@github.com:delb-xml/test-corpus-ELTeC-spa.git
[submodule "git-submodules/test-corpus-ELTeC-srp"]
	path = git-submodules/ELTeC-srp
	url = git@github.com:delb-xml/test-corpus-ELTeC-srp.git
[submodule "test-corpus-ELTeC-slv"]
	path = git-submodules/ELTeC-slv
	url = git@github.com:delb-xml/test-corpus-ELTeC-slv.git
[submodule "git-submodules/test-corpus-ELTeC-rom"]
	path = git-submodules/ELTeC-rom
	url = git@github.com:delb-xml/test-corpus-ELTeC-rom.git
[submodule "test-corpus-ELTeC-pol"]
	path = git-submodules/ELTeC-pol
	url = git@github.com:delb-xml/test-corpus-ELTeC-pol.git
[submodule "test-corpus-ELTeC-por"]
	path = git-submodules/ELTeC-por
	url = git@github.com:delb-xml/test-corpus-ELTeC-por.git
[submodule "git-submodules/test-corpus-ELTeC-ita"]
	path = git-submodules/ELTeC-ita
	url = git@github.com:delb-xml/test-corpus-ELTeC-ita.git
[submodule "test-corpus-papyri"]
	path = git-submodules/papyri
	url = git@github.com:delb-xml/test-corpus-papyri.git
[submodule "git-submodules/test-corpus-ELTeC-hun"]
	path = git-submodules/ELTeC-hun
	url = git@github.com:delb-xml/test-corpus-ELTeC-hun.git
[submodule "test-corpus-ELTeC-fra-ext2"]
	path = git-submodules/ELTeC-fra-ext2
	url = git@github.com:delb-xml/test-corpus-ELTeC-fra-ext2.git
[submodule "test-corpus-ELTeC-rus"]
	path = git-submodules/ELTeC-rus
	url = git@github.com:delb-xml/test-corpus-ELTeC-rus.git
[submodule "test-corpus-ELTeC-nor"]
	path = git-submodules/ELTeC-nor
	url = git@github.com:delb-xml/test-corpus-ELTeC-nor.git
[submodule "git-submodules/test-corpus-ELTeC-lit"]
	path = git-submodules/ELTeC-lit
	url = git@github.com:delb-xml/test-corpus-ELTeC-lit.git
[submodule "test-corpus-ELTeC-deu"]
	path = git-submodules/ELTeC-deu
	url = git@github.com:delb-xml/test-corpus-ELTeC-deu.git
[submodule "test-corpus-ELTeC-fra-ext1"]
	path = git-submodules/ELTeC-fra-ext1
	url = git@github.com:delb-xml/test-corpus-ELTeC-fra-ext1.git
[submodule "git-submodules/test-corpus-ELTeC-swe"]
	path = git-submodules/ELTeC-swe
	url = git@github.com:delb-xml/test-corpus-ELTeC-swe.git
[submodule "git-submodules/test-corpus-ELTeC-por-ext"]
	path = git-submodules/ELTeC-por-ext
	url = git@github.com:delb-xml/test-corpus-ELTeC-por-ext.git
[submodule "git-submodules/test-corpus-ELTeC-lav"]
	path = git-submodules/ELTeC-lav
	url = git@github.com:delb-xml/test-corpus-ELTeC-lav.git
[submodule "git-submodules/test-corpus-ELTeC-eng-ext"]
	path = git-submodules/ELTeC-eng-ext
	url = git@github.com:delb-xml/test-corpus-ELTeC-eng-ext.git
[submodule "git-submodules/test-corpus-ELTeC-srp-ext"]
	path = git-submodules/ELTeC-srp-ext
	url = git@github.com:delb-xml/test-corpus-ELTeC-srp-ext.git
[submodule "git-submodules/test-corpus-ELTeC-gre"]
	path = git-submodules/ELTeC-gre
	url = git@github.com:delb-xml/test-corpus-ELTeC-gre.git
[submodule "git-submodules/test-corpus-ELTeC-lit-ext"]
	path = git-submodules/ELTeC-lit-ext
	url = git@github.com:delb-xml/test-corpus-ELTeC-lit-ext.git
[submodule "git-submodules/test-corpus-atalanta-texts"]
	path = git-submodules/atalanta-texts
	url = git@github.com:delb-xml/test-corpus-atalanta-texts.git
[submodule "git-submodules/test.-corpus-archives-parlementaires"]
	path = git-submodules/archives-parlementaires
	url = git@github.com:delb-xml/test.-corpus-archives-parlementaires.git
[submodule "test-corpus-ELTeC-eng"]
	path = git-submodules/ELTeC-eng
	url = git@github.com:delb-xml/test-corpus-ELTeC-eng.git
[submodule "git-submodules/iip-texts"]
	path = git-submodules/iip-texts
	url = git@github.com:delb-xml/test-corpus-iip-texts.git
